<div id="" class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <hr>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
	     style="display:block; text-align:center;"
	     data-ad-layout="in-article"
	     data-ad-format="fluid"
	     data-ad-client="ca-pub-5103032140213770"
	     data-ad-slot="1100099846"></ins>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
	</script>	
        <hr>
    </div>
</div>
