@import 'prism-themes/themes/prism-vsc-dark-plus.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900 font-display leading-relaxed;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.prose pre code {
  line-height: 1.6;
  overflow-x: auto;
  white-space: pre;
}

.prose pre {
  padding: 1rem;
  border-radius: 0.5rem;
}

.prose {
  max-width: 100% !important;
}

.prose {
  font-size: 1rem;
  line-height: 2;
}

.prose p {
  font-size: 1rem !important;
  line-height: 2 !important;
}

.prose li,
.prose table,
.prose code {
  font-size: 1rem !important;
  line-height: 1.5 !important;
}

.custom-quote {
  @apply border-l-4 border-gray-300 pl-4 italic text-gray-800;
}

.custom-quote footer {
  @apply text-right mt-2 font-medium text-sm text-gray-500;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

@layer utilities {
  .fix-matching-spacing {
    margin-top: -1px;
    letter-spacing: -0.01em;
  }
}

code {
  background-color: #fffde7;
  font-weight: 750;
  font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  color: #1f2937;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.prose code::before,
.prose code::after {
  content: none;
}

.prose img {
  max-width: 100%;
  height: auto;
}
.prose pre {
  overflow-x: auto;
}

.prose table {
  @apply w-full table-auto;
  overflow-x: auto;
}
